.btn{
    background-color: #0069d9!important;
    color:#fff !important;
}
.bubble-blue{
    display: inline-block;
    max-width: 360px;
    background: #007bff;
    text-align: left;
    border-radius: 6px;
}

.bubble-gray{
    display: inline-block;
    max-width: 360px;
    background: #f5f5f5;
    text-align: left;
    border-radius: 6px;
}

.chat .item .middle ul > .li-right {
    text-align: right !important;
    justify-content: flex-end !important;
}
.chat .item .middle ul > .li-left {
    text-align: left !important;
    justify-content: flex-start !important;
}
.bubble-blue > p > a, .bubble-blue > p{
    color: #fff!important;
}
.bubble-gray > p > a, .bubble-gray>p{
    color: #212529 !important;
}
.red-dot{
    background-color: red;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.green-dot{
    background-color: green !important;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.cursor-pointer{
    cursor: pointer;
}

.load-more{
    background-color: #f5f5f5;
}
.green{
    color: green;
}
